### 几分钟入门R语言

> 如果能几分钟入门成功，那么成功的原因一定是好多次的入门失败

[网上找的入门资料](https://zhuanlan.zhihu.com/p/21576354)

#### R的数据对象
##### 向量（vector）
向量是R中最小、最基本的数据对对象

In [1]:
c(1, 2, 3, 4, 5)

[1] 1 2 3 4 5

In [2]:
c(1:20)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [3]:
1:30

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30

In [4]:
# 向量赋值
x<-c(1,2,3,4)

In [5]:
y<-c(3,5,7,9)

In [6]:
x

[1] 1 2 3 4

In [7]:
y

[1] 3 5 7 9

In [8]:
# 可以看到R语言索引从1开始，与众不同
x[2]

[1] 2

In [9]:
# 向量相加
x+y

[1]  4  7 10 13

In [10]:
# 试试长度不一样会怎样
z <- c(1, 2, 3, 4, 5)
x + z

Warning message in x + z:
“longer object length is not a multiple of shorter object length”

[1] 2 4 6 8 6

提示，较长对象的长度不是较短对象长度的倍数。那试试是倍数的时候会怎样:

In [11]:
z <- c(1, 2, 3, 4, 5, 6, 7, 8)
x+z

[1]  2  4  6  8  6  8 10 12

In [12]:
z + x

[1]  2  4  6  8  6  8 10 12

显然，如果长度不一的两个vector相加：
- 如果较长的vector长度不是较短的倍数，会报错
- 否则，较短的对象会重复加在较长的对象上 

继续试试其他运算：

In [13]:
x - z

[1]  0  0  0  0 -4 -4 -4 -4

In [14]:
z - x

[1] 0 0 0 0 4 4 4 4

In [15]:
x * z

[1]  1  4  9 16  5 12 21 32

In [16]:
x / z

[1] 1.0000000 1.0000000 1.0000000 1.0000000 0.2000000 0.3333333 0.4285714
[8] 0.5000000

规律就是这种成倍数的情况下，较短的行为可以这么解释：
- 先以自身长度为最小单位，复制若干次和较长对象长度一致，然后再进行运算

##### 列表（list）

这个列表就可以类比`Python`中的`list`了。列表可以放入向量、矩阵，甚至是另外一个列表

为啥vector不能类比Python中的list，因为
```r
> x <- c('a',1,2)
> x
[1] "a" "1" "2"
> y <- c(1, 2, 3)
> y
[1] 1 2 3
```
也就是说因为vector不能装不同数据类型的对象

快速开一下R中列表的用法：

In [17]:
list1 <- list(x, y, c(3, 3))

In [18]:
list1

[[1]]
[1] 1 2 3 4

[[2]]
[1] 3 5 7 9

[[3]]
[1] 3 3

上面是Jupyter Notebook中的结果，下面是命令行中的结果：
```R
> list1
[[1]]
[1] 1 2 3 4

[[2]]
[1] 3 5 7 9

[[3]]
[1] 3 3

```

所以最顶层元素在列表中的索引表示是：`[[索引]]`，验证一下：
```r
> list2 <- list(1,2,3)
> list2
[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3
```

那么获取列表元素中的元素呢?和Python一致，只是注意索引均从`1`开始：

In [20]:
list1[[2]][2] #结果是5

[1] 5

注意，获取列表最顶层元素的写法是list1`[[]]`，如果一次`list[[]]`之后索取到的对象已经是一个vector，那么接下来用`[]`索引单个元素即可。

##### 数据框（Data Frame）

> Crying form a columnist: 数据框是R里面最重要的数据对象！数据框是R里面最重要的数据对象！数据框是R里面最重要的数据对象！重要的事情说三遍！

数据框的名字有点抽象，其实就是二维表，再其实就是常见的表格。

在R中大概长这样：

In [21]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

iris是R自带的一个数据集，head函数帮助调用了前6行（不含标题行）。

怎么操纵表格呢？

引用表格中的数据：

In [24]:
#数据框名后加上美元符号"$"，接列标签名，就能调用列。输出结果是一个向量
head(iris)$Sepal.Length

[1] 5.1 4.9 4.7 4.6 5.0 5.4

也可以把`head(iris)`先赋值给一个变量，结果一样：

In [25]:
preview <- head(iris)
preview$Sepal.Length

[1] 5.1 4.9 4.7 4.6 5.0 5.4

In [26]:
#用数字也可以调用列，但出来的则是一个砍掉了其他所有列的数据框
preview[2]

  Sepal.Width
1 3.5
2 3.0
3 3.2
4 3.1
5 3.6
6 3.9

日常操作中，我们一般会用attach()来锁定一个数据框。之后，只要直接输入列名称，就能调用列了。如下:

In [28]:
attach(preview)

In [30]:
Petal.Length

[1] 1.4 1.4 1.3 1.5 1.4 1.7

##### 小结

上面介绍了3种数据类型：
- 向量（vector）
- 列表（list）
- 数据框（data frame）

需要记住这些数据对象的结构，赋值方法，索引方法。

还有包括`矩阵（matrix）`，`数组（array）`，`时间序列（ts）`等等，以后再谈。

值得一提的是，千万不要把`数据对象`和`数据类型`搞混。前者就是我们刚刚讲的`容器`的种类，而后者则是容器里豆子的种类。

#### 数据类型

既然已经提到数据类型，那就快速过一下R中的数据类型：

- 数据类型包括数值型（numeric），字符型（character），缺失值（NA）等等，一看就懂
- 可以通过mode()函数检测数据类型

In [32]:
x<-c(1,2,3.3,pi)

In [33]:
mode(x)

[1] "numeric"

In [34]:
y<-c("thanks","for","dian","zan")

In [35]:
mode(y)

[1] "character"

In [36]:
z<-c(1,2,3,"oops")
# 前面已经试过一个向量不能同时存在数值和字符元素。如果你加了一个字符型进去，
# 整个向量的所有元素都会自动加上双引号，变成字符型。

In [37]:
mode(z)

[1] "character"