In [15]:
import pandas as pd
import numpy as np

inputfile = './chapter5/demo/data/DMCT_menu_orders.xls'

data = pd.read_excel(inputfile, header=None)

In [16]:
import sys
sys.path.append('./al/')

In [17]:
import apriori

In [18]:
data

    0   1    2    3
0  I1  I2   I5  NaN
1  I2  I4  NaN  NaN
2  I2  I3  NaN  NaN
3  I1  I2   I4  NaN
4  I1  I3  NaN  NaN
5  I2  I3  NaN  NaN
6  I1  I3  NaN  NaN
7  I1  I2   I3   I5
8  I1  I2   I3  NaN

In [19]:
C1 = apriori.get_C1(data)
L1 = apriori.trim_C(C1, 2)

C_ = {1: C1}
L_ = {1: L1}

k = 1

while not L_[k].empty:
    C_[k+1] = apriori.L2C(L_[k], data, k+1, L_)
    L_[k+1] = apriori.trim_C(C_[k+1], 2)
    k += 1

In [20]:
from IPython.display import display

In [14]:
for i in L_:
    display(L_[i])

  itemset  count
0    {I1}      6
1    {I2}      7
2    {I4}      2
3    {I3}      6
4    {I5}      2

    itemset count
0  {I1, I2}     4
2  {I1, I3}     4
3  {I1, I5}     2
4  {I4, I2}     2
5  {I3, I2}     4
6  {I5, I2}     2

        itemset count
0  {I3, I1, I2}     2
1  {I1, I5, I2}     2

Empty DataFrame
Columns: [itemset, count]
Index: []

In [21]:
s = set('abc')

In [22]:
s

{'a', 'b', 'c'}

In [24]:
str(s)

"{'c', 'a', 'b'}"